<h1>Dashboard</h1>
<div id="containerChart">
<h2>Behälter-Füllstand</h2>
<div id="chart">
  <ul id="numbers">
    <li><span>100%</span></li>
    <li><span>90%</span></li>
    <li><span>80%</span></li>
    <li><span>70%</span></li>
    <li><span>60%</span></li>
    <li><span>50%</span></li>
    <li><span>40%</span></li>
    <li><span>30%</span></li>
    <li><span>20%</span></li>
    <li><span>10%</span></li>
    <li><span>0%</span></li>
  </ul>
  <ul id="bars">
    <li><div id="containerBar" class="bar"></div><span id="containerValue"></span></li>
  </ul>
</div>
</div>
<div id="bowlChart">
<h2>Napf-Füllstand</h2>
<div id="chart">
  <ul id="numbers">
    <li><span>100%</span></li>
    <li><span>90%</span></li>
    <li><span>80%</span></li>
    <li><span>70%</span></li>
    <li><span>60%</span></li>
    <li><span>50%</span></li>
    <li><span>40%</span></li>
    <li><span>30%</span></li>
    <li><span>20%</span></li>
    <li><span>10%</span></li>
    <li><span>0%</span></li>
  </ul>
  <ul id="bars">
    <li><div id="bowlBar" class="bar"></div><span id="bowlValue"></span></li>
  </ul>
</div>
</div>
<script src="./JS/dashboard.js"></script>
<link href="./CSS/dashboard.css" rel="stylesheet" type="text/css">
