<h1>Essprotokoll</h1>
<canvas id="logChart" width="400px" height="100px"></canvas>
<table id="logTable" class="mui-table mui-table--bordered">
  <thead>
    <th>Datum</th>
    <th>Menge</th>
  </thead>
  <tbody>
  </tbody>
</table>

<script src="./JS/eatingLog.js"></script>
<script src="./JS/moment.js"></script>
<script src="./JS/Chart.min.js"></script>
