<h1>Rationen</h1>
<table id="servingsTable" class="mui-table mui-table--bordered">
  <thead>
    <th>Uhrzeit</th>
    <th>Menge</th>
    <th></th>
  </thead>
  <tbody>
  </tbody>
</table>

<button class="mui-btn mui-btn--raised secondary-color" onClick="showSubPage('SFD - Ration konfigurieren', './pages/servingConfig.html')">Ration hinzufügen</button>
<script src="./JS/servings.js"></script>
