<br>
<h1 id="pageInfo"></h1>
<br>
<div class="mui-textfield">
    <input type="time" id="time">
    <label>Timestamp</label>
</div>
<div class="mui-textfield">
    <input type="text" id="amount">
    <label>Menge (in Gramm)</label>
</div>
<div>
    <button class="mui-btn mui-btn--raised secondary-color" onClick="saveServing()">Speichern</button>
    <button class="mui-btn mui-btn--raised" id="cancel">Abbrechen</button>
</div>

<script src="./JS/servingConfig.js"></script>
