<h1>Einstellungen</h1>
<h2>Model-Trainingsbilder</h2>
<div id="imageGallery">

</div>

<button class="mui-btn mui-btn--raised" onClick="deleteImages()">Löschen</button>
<button class="mui-btn mui-btn--raised" onClick="retrainModel()">Model neu trainieren</button>




<div>
    <div class="mui-textfield">
        <input placeholder="Datei" type="text" id="uploadFile" readonly/>
    </div>
    <div class="imageUpload">
        <label for="uploadBtn">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                <path d="M13 14c0 2.21-1.79 4-4 4s-4-1.79-4-4V3c0-1.66 1.34-3 3-3s3 1.34 3 3v9c0 1.1-.9 2-2 2s-2-.9-2-2V4h1v8c0 .55.45 1 1 1s1-.45 1-1V3c0-1.1-.9-2-2-2s-2 .9-2 2v11c0 1.66 1.34 3 3 3s3-1.34 3-3V4h1v10z" />
            </svg>
        </label>
        <form id="imageForm" method="post" enctype="multipart/form-data">
            <input type="file" id="uploadBtn" name="file" accept="image/jpeg" />
            <input id="submitBtn" class="mui-btn mui-btn--raised" type="button" onClick="submitPicture()" value="Hinzufügen" />
        </form>
    </div>
</div>
<script src="./JS/settings.js"></script>

<style>
#imageForm {
	display: inline;
}

.imageUpload > form input[type="file"] {
    display: none;
}

.mui-textfield {
	display:inline-block;
}

.imageUpload, svg {
	cursor: pointer;
	display: inline;
}

svg {
    border-radius: 100px;
    padding: 5px;
    margin-bottom: -10px;
}

svg:hover {
    background: #c0baba;
}

#submitBtn {
	display: inline;
}

</style>
