﻿/**
 * Body CSS
 */

html,
body {
  min-height: 100%;
  height: 100%;
  background-color: #eee;
}

html,
body,
input,
textarea,
buttons {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}


/**
 * Layout CSS
 */

#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  transition: left 0.2s; /*Renderfix  */
}

#header-login {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  transition: left 0.2s;
}

#sidedrawer {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 200px;
  left: -200px;  /*Renderfix */
  overflow: auto;
  z-index: 2;
  background-color: #fff;
  transition: transform 0.2s;
}

#content-wrapper {
  min-height: 100%;
  overflow-x: hidden;
  margin-left: 0px;
  transition: margin-left 0.2s; /*Renderfix*/
  box-sizing: border-box;

  /* sticky bottom */
  margin-bottom: -160px;
  padding-bottom: 160px;
}

#footer {
  height: 160px;
  margin-left: 0px;
  transition: margin-left 0.2s; /*Renderfix */
}

@media (min-width: 768px) {
  #header {
    left: 200px;
  }

  #sidedrawer {
    transform: translate(200px); /* Renderfix*/
  }

  #content-wrapper {
    margin-left: 200px;
  }

  #footer {
    margin-left: 200px;
  }

  #header-login {
	  left: 0px;
  }

  #footer-login {
	  margin-left: 0px;
  }

  #content-wrapper-login {
	  margin-left: auto;
  }

  body.hide-sidedrawer #header {
    left: 0;
  }

  body.hide-sidedrawer #header-login {
    left: 0;
  }

  body.hide-sidedrawer #sidedrawer {
    transform: translate(0px);
  }

  body.hide-sidedrawer #content-wrapper {
    margin-left: 0;
  }

  body.hide-sidedrawer #footer {
    margin-left: 0;
  }

  body.hide-sidedrawer #footer-login {
    margin-left: 0;
  }
}


/**
 * Toggle Sidedrawer
 */
#sidedrawer.active {
  transform: translate(200px);
}


/**
 * Header CSS
 */

.sidedrawer-toggle {
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  line-height: 20px;
  margin-right: 10px;
}

.sidedrawer-toggle:hover {
  color: #fff;
  text-decoration: none;
}


/**
 * Sidedrawer CSS
 */

#sidedrawer-brand {
  padding-left: 20px;
  font-size: 20px;
  font-weight: 400;
  align-content: center;
  height: 55px;
}

@media (orientation: landscape) and (max-height: 480px) {
	#sidedrawer-brand {
	  padding-left: 20px;
	  font-size: 20px;
	  font-weight: 400;
	  align-content: center;
	  height: 48px;
	}
}
@media (min-width: 480px) {
	#sidedrawer-brand {
	  padding-left: 20px;
	  font-size: 20px;
	  font-weight: 400;
	  align-content: center;
	  height: 63px;
	}
}

#sidedrawer ul  {
  list-style: none;
}

#sidedrawer > ul {
  padding-left: 0px;
}

#sidedrawer > ul > li:first-child {
  padding-top: 15px;
}

#sidedrawer ul li:hover a.navbarlink{
    text-decoration: underline;
}

#sidedrawer strong {
  display: block;
 /* padding: 15px 22px; */
  cursor: pointer;
}

#sidedrawer .navbarfolder {
  display: block;
  padding: 15px 22px;
  cursor: pointer;
}

#sidedrawer strong:hover {
  background-color: #E0E0E0;
}

#sidedrawer strong + ul > li {
  padding: 6px 0px;
}


/**
 * Footer CSS
 */

#footer {
  color: #fff;
}

#footer a {
  color: #fff;
  text-decoration: underline;
}


/**
  * Custom CSS
  */

a#logo {
	color: rgba(0,0,0,0.80);
	font-family: Arial, Verdana, Tahoma;
	font-size: 20px;
	font-weight: normal;
	line-height: 56px;
	text-shadow: rgba(0,0,0,0.00392157) 1px 1px 1px;
	-webkit-font-smoothing: antialiased;
	-webkit-user-select: none;
	display: block;
	text-align: left;

}
@media (orientation: landscape) and (max-height: 480px) {
	a#logo {
		color: rgba(0,0,0,0.80);
		font-family: Arial, Verdana, Tahoma;
		font-size: 20px;
		font-weight: normal;
		line-height: 48px;
		text-shadow: rgba(0,0,0,0.00392157) 1px 1px 1px;
		-webkit-font-smoothing: antialiased;
		-webkit-user-select: none;
		display: block;
		text-align: left;

	}
}
@media (min-width: 480px) {
	a#logo {
		color: rgba(0,0,0,0.80);
		font-family: Arial, Verdana, Tahoma;
		font-size: 20px;
		font-weight: normal;
		line-height: 64px;
		text-shadow: rgba(0,0,0,0.00392157) 1px 1px 1px;
		-webkit-font-smoothing: antialiased;
		-webkit-user-select: none;
		display: block;
		text-align: left;

	}
}

a#logo img{
    width: 30%;
    margin-left: 20px;
    vertical-align: middle;
}

a.navbarlink {
	color: rgba(0,0,0,0.80);
	cursor: pointer;
	display: block;
	font-family: Arial, Verdana, Tahoma;
	font-size: 14px;
	font-weight: bold;
	line-height: 20.006px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	text-align: left;
	text-shadow: rgba(0,0,0,0.00392157) 1px 1px 1px;
	-webkit-font-smoothing: antialiased;
	-webkit-user-select: none;
	padding: 15px 22px;
}

.right {
  float:right;
  color: #fff;
  cursor: pointer;
  margin-right: 10px;
}

/**
  * Hidden Swipebar
  **/

  #pseudobar{
	position: absolute;
	top: 0;
	left: 0;
	height: 98%;
	width: 10px;
	z-Index: 999999;
}


/**
  * Corporate Colors
  */

  .mui-appbar, #footer {
	background-color: #3f51b5; /*#b71140;*/
  }

  .secondary-color {
    background-color: #ff4081;
    color: #fff;
  }

  /**
  * HTML-Tables Mobile friendly
  **/
@media only screen and (max-width: 480px) {
	.mui-table > thead > tr > th,
	.mui-table > thead > tr > td,
	.mui-table > tbody > tr > th,
	.mui-table > tbody > tr > td,
	.mui-table > tfoot > tr > th,
	.mui-table > tfoot > tr > td {
	  padding: 7px;
	  line-height: 1.429;
	}

	.mobile-less-padding {
		padding: 0 9px;
	}
}

.clear{
  clear: both;
}

.mui-btn.mui-btn--primary{
  background-color :#AFADAA;
}

.selected{
	border: 2px solid #ff4081;
}

#imageGallery img {
  padding: 2px;
}

a{
  color: #a24766;
}
